<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
<!--     开发测试验证码模型时使用 -->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:name=".SeduleyApp"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.SeduleyApp">

        <!-- 启动页 -->
        <activity
                android:name=".SplashActivity"
                android:exported="true"
                android:theme="@style/Theme.SeduleyApp.Splash"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
                android:name=".MainActivity"
                android:exported="false"
                android:theme="@style/Theme.SeduleyApp" />

        <!-- 图片裁剪库 -->
        <activity
                android:name="com.yalantis.ucrop.UCropActivity"
                android:theme="@style/Theme.SeduleyApp"
                android:exported="false" />

        <!-- Job 服务 -->
        <service
                android:name=".core.alarm.service.JobManagerService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:enabled="true"
                android:exported="false" />

        <!-- 闹钟广播 -->
        <receiver
                android:name=".core.alarm.service.AlarmReceiver"
                android:enabled="true"
                android:exported="false" />
        <receiver
                android:name=".core.alarm.service.BootReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>